:root{
    --font-family:'Kumbh Sans', sans-serif;
    --dark-blue: #1B1E79;
    --soft-red: #F47C57;
    --soft-violet: #AF67E9;
    --soft-blue: #6565E7;
    --dark-gray-blue: #4A4B5E;
    --gray-blue: #787887;
    --soft-gray-divider: #E7E7E9;
    --font-size-body: 12px;
    --white: #FFFFFF;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    background: linear-gradient(to top, var(--soft-blue) 0%, var(--soft-violet) 100% );
    background-repeat: no repeat;
}
.container{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 1.5rem;
}
.title{
    font-size: 24px;
    margin-bottom: 1rem;
}
.card{
    background-color: var(--white);
    width: 54%;
    height: auto;
    min-height: 26.875rem;
    border-radius: 25px;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 18px -1px #342682;

}
.card .container-img-desktop{
    background: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-x: -302px;
    background-position-y: -101px;
    background-size: 152%;
}

.card .img-box{
    position: absolute;
    left: -3.5rem;
    top: 14.313rem;
    width: 14%;
}
.card .img-woman{
    transform: translate(-78px, 68px);
    width: 99%
}
.card .container-accordion{
    width: 50%;
    padding: 2rem;
}
.container-accordion ul{
    list-style: none;
    padding: 0;
}
.container-accordion ul li{
    border-bottom: 1px solid lightgrey;
    padding: 0.85rem 0;
}
.container-accordion .toggle-accordion-label{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: var(--dark-gray-blue);
}
.card-accordion-1,
.card-accordion-2,
.card-accordion-3,
.card-accordion-4,
.card-accordion-5{
    display: none;

}
input{
    display: none;
}
input:checked ~ .card-accordion-1,
input:checked ~ .card-accordion-2,
input:checked ~ .card-accordion-3,
input:checked ~ .card-accordion-4,
input:checked ~ .card-accordion-5{
    display: block;
    font-size: 13px;
    padding: 1rem 0;
    word-spacing: 0.15rem
}
input:checked + .toggle-accordion-label{
    font-weight: 600;
}
.toggle-accordion-label:hover{
    color: #000;
}
.toggle-accordion-label::after{
    content: url(images/icon-arrow-down.svg);
    position: absolute;
    right: 42px;
    cursor: pointer;
}
input:checked + .toggle-accordion-label::after{
    transform: rotate(180deg);
}

@media screen and (max-width: 415px) {
    .container-accordion .toggle-accordion-label{
        font-size: 14px;
    }
    .card .container-img-desktop{
        display: none;
    }
    .card{
        width: 100%;
        height: auto;
    }
    .card .container-accordion {
        width: 100%;
        padding: 1rem;
    }
    .title{
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 6rem;
    }
   
    .toggle-accordion-label::after{
        right: 25px;
    }
    .container-accordion ul li{
        padding: 1rem 0;
    }
    .card .container-img-mobile{
        background-image: url(images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) calc(100% - 5rem);
        background-size: calc(100% - 4rem);
        position: absolute;
    }
    .card .img-woman-mobile{
        width: 79%;
        transform: translate(calc(100% - 11rem) , calc(100% - 18rem));
    }
}
@media screen and (min-width: 416px) and (max-width: 769px){
    .card{
        width: 100%;
        height: auto;
    }
    .card .container-accordion {
        width: 100%;
        padding: 1rem;
    }
    .card .container-img-mobile{
      
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) calc(100% - 5rem);
        background-size: calc(100% - 4rem);
        position: absolute;
    }
    .card .img-woman {
        transform: translate(calc(100% - 22rem), calc(100% - 7rem));
        width: calc(100% - 1px);
    }
    
}